*{
	font-size: 14px;
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: gray;
}

#container{
	margin:  0 auto;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 600px;
}